<div id="shipicon">
  <%= image_tag "ship-icon.png" %>
</div>
<h1 id="homepagetitle">ship to shore </h1>

<div class="container">
  <div class="col-xs-4">
    <h2>Top Jobs</h2>
    <% @top5.each do |t| %>
      <div class="entry">
        <h3><%= t.name %></h3>
        <p><%= t.description %></p>
        <p>$<%= t.cost %></p>
        <p><%= link_to "More details", job_path(t) %></p>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2>Top Boats</h2>
    <% @top3.each do |t| %>
      <div class="entry">
        <h3><%= t.name %></h3>
        <li class="boat-list"><p><%= image_tag t.image class: "image-prev" %></p></li>
        <p><%= t.available_containers %> containers available</p>
        <p><%= link_to "More details", boat_path(t) %></p>
      </div>
      <br>
    <% end %>
  </div>
</div>
