<%= simple_form_for @jobs do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.select :origin, @ports %>
    <%= f.input :destination %>
    <%= f.input :cost %>
    <%= f.input :needed_containers %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

