<h1>This job:</h1>

<h2>Job name: <%= @job.name %></h2>
<h3>Company requesting: <%= @user.company %></h3>
<h5>Last updated: <%= time_ago_in_words(@job.updated_at) %> ago.</h5>
<h3>Origin: <%= @job.origin %></h3>
<h3>Destination: <%= @job.destination %></h3>
<h3>Cost: <%= number_to_currency(@job.cost) %></h3>
<h3>Needed containers: <%= @job.needed_containers %></h3>
<p><%= @job.description %></p>

<% if current_user == User.find(@job.user_id) %>
  <%= link_to "Edit this job", edit_job_path(@job) %>
  <%= link_to "Delete this job", job_path(@job), method: :delete %>
<% elsif current_user %>
  <%= link_to "Create a job", new_job_path %>
<% end %>
