<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" %>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <br>
    <%= render 'layouts/footer' %>
  </body>
</html>
