<h1>Boats#index</h1>
<p>Find me in app/views/boats/index.html.erb</p>
<ul>
	<% @boats.each do |boat| %>
	 	<li>
			<p>Boat: <%= boat.name %></p>
			<p>Current location: <%= boat.location %></p>
			<p>Total containers: <%= boat.total_containers %></p>
			<p>Available containers: <%= boat.available_containers %></p>
			<p><%= image_tag boat.image %></p>
		</li>
 	<% end %>
</ul>